<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs310w10.MoleFinder.View"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <instrumentation android:label="Unit Test" android:targetPackage="cs310w10.MoleFinder.View" android:name="android.test.InstrumentationTestRunner"></instrumentation>

    <application
        android:name="cs310w10.MoleFinder.Controller.MoleFinderApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        
        <activity
            android:name=".SearchViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:launchMode="singleTop">
            	<intent-filter>
            		<action android:name="android.intent.action.SEARCH" />
       			 </intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
            
        </activity>
        
        <activity android:name=".SearchHandler" >
        	<!-- enable the search dialog to send searches to SearchableActivity -->
        	<meta-data android:name="android.app.default_searchable"
                   	android:value=".SearchViewActivity" />
    	</activity>
        
        <activity
            android:name=".EditImageViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ListMoleViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".MoleGalleryViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".EditMoleViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".MoleViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
		<activity
		    android:name=".SettingsViewActivity"
		    android:label="@string/settings"
        	android:theme="@android:style/Theme.NoTitleBar" >
		</activity>
        <uses-library android:name="android.test.runner"/>
    </application>

</manifest>